<div class="message-page">
    <div ng-repeat="message in messages" class="message" ng-class="{my_message: message.to.id == chatId, companion_message: message.from.id == chatId}">
        <div class="message-text">
            <span ng-class="{not_read: message.read == false}">{{message.text}}</span>
        </div><!--
        -->
        <div class="photo-wrap">
            <div class="photo">
                <img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
            </div>
        </div>
    </div>
    <form ng-submit="sendMessage()">
        <input type="text" ng-model="newMessage"/>
        <button>Send</button>
    </form>
</div>