<div class="message-page">
    <h3 class="text-info">{{companion.userInfo.firstName}} {{companion.userInfo.lastName}}</h3>
    <div class="hide-scroll">
        <div class="messages-wrap">
            <div class="scroller">
                <div ng-repeat="message in messages" class="message" ng-class="{my_message: message.to.id == chatId, companion_message: message.from.id == chatId}">
                    <div class="message-text">
                        <p>
                            {{message.text}}
                        </p>
                        <div>
                            {{message.date | date:  'medium'}}
                        </div>
                    </div><!--
                    -->
                    <div class="photo-wrap">
                        <div class="photo">
                            <a ng-href="/#/profile/{{message.from.id}}">
                                <img src="{{my.photo.photoPath}}" ng-if="message.to.id == chatId">
                                <img src="{{companion.photo.photoPath}}" ng-if="message.from.id == chatId">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form ng-submit="sendMessage()">
        <input type="text" class="inp inline message-input"  ng-model="newMessage"/><button class="btn pull-right">Send</button>
    </form>
</div>