<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs nav-justified margin-bottom">
            <li>
                <a href="" ng-class="{'btn active': friends.page=='friends'}" ng-click="friends.page='friends'">Friends</a>
            </li>
            <li>
                <a href="" ng-class="{'btn active': friends.page=='income'}" ng-click="friends.page='income'">Income</a>
            </li>
            <li>
                <a href="" ng-class="{'btn active': friends.page=='outcome'}" ng-click="friends.page='outcome'">Outcome</a>
            </li>
        </ul>

        <div ng-show="friends.page=='friends'" ng-repeat="people in peoples" class="margin-bottom border-bottom">
            <div class="row">
                <div class="col-md-3">
                    <a href="/#/profile/{{people.userInfo.id}}">
                        <img class="image big-image" src="{{people.photo.photoPath}}"/>
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="/#/profile/{{people.userInfo.id}}"><p class="text-info head">{{people.userInfo.firstName}} {{people.userInfo.lastName}}</p></a>
                    <a href="/#/message/{{people.userInfo.id}}"><button class="btn">Send message</button></a>
                    <a href="" >
                        <button class="btn" ng-click="removeFromFriends(people)">Remove from friends</button>
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="friends.page=='income'" ng-repeat="people in income" class="margin-bottom border-bottom">
            <div class="row">
                <div class="col-md-3">
                    <a href="/#/profile/{{people.userInfo.id}}">
                        <img class="image big-image" src="{{people.photo.photoPath}}"/>
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="/#/profile/{{people.userInfo.id}}"><p class="text-info head">{{people.userInfo.firstName}} {{people.userInfo.lastName}}</p></a>
                    <a href="/#/message/{{people.userInfo.id}}"><button class="btn">Send message</button></a>
                    <a href="" ng-if="people.status != 1">
                        <button class="btn" ng-click="acceptFriendRequest(people)">Add to friend</button>
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="friends.page=='outcome'" ng-repeat="people in outcome" class="margin-bottom border-bottom">
            <div class="row">
                <div class="col-md-3">
                    <a href="/#/profile/{{people.userInfo.id}}">
                        <img class="image big-image" src="{{people.photo.photoPath}}"/>
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="/#/profile/{{people.userInfo.id}}"><p class="text-info head">{{people.userInfo.firstName}} {{people.userInfo.lastName}}</p></a>
                    <a href="/#/message/{{people.userInfo.id}}"><button class="btn">Send message</button></a>
                    <a href="" ng-if="people.status != 1" ng-click="cancelFriendRequest(people)"><button class="btn">Cancel request</button></a>
                </div>
            </div>
        </div>
    </div>

</div>