<div class="">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="profile-photo col-md-12">
                    <img src="{{profilePhoto.photoPath}}"/>
                    <div class=photo-choose" ng-if="myProfile" >
                        <input id="mainPhotoUploader" type="file" nv-file-select uploader="uploader" class="photoUploader"/>
                        <br>
                        <label for="mainPhotoUploader" class=" btn full-width" ng-hide="uploader.queue.length > 0">
                            New Photo
                        </label>
                        <button ng-click="updatePhoto()" class="btn full-width" ng-show="uploader.queue.length > 0">Update photo</button>
                    </div>
                    <div>
                        <button class="btn full-width" ng-click="addToFriend()" ng-if="!myProfile && profile.status != 1">Add To Friend</button>
                    </div>
                    <div class="profile-block-div">
                        <a href="/#/photos/{{profile.id}}">
                            <button class="btn full-width">
                                View Photos
                            </button>
                        </a>
                    </div>
                    <div class="add-post">
                        <textarea ng-model="newPost.text"></textarea>
                        <button class="btn full-width" ng-click="addPost();">Add post</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-info margin-bottom border-bottom" >Friends</h1>
                    <div ng-repeat="people in friends" class="margin-bottom">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="/#/profile/{{people.user.id}}">
                                    <img class="image big-image" src="{{people.photo.photoPath}}"/>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/#/profile/{{people.user.id}}"><p class="text-info head">{{people.userInfo.firstName}} {{people.userInfo.lastName}}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="profile-info col-md-10" >

                    <h1 class="text-info text-center">
                        <span ng-show="!enableEdit" class="head">
                        {{profile.firstName}} {{profile.lastName}}</span>
                    </h1>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Birth date</td>
                            <td>
                                <span>{{profile.birthDate | date : 'longDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>
                                <span>{{profile.city}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Phone number</td>
                            <td>
                                <span >{{profile.phoneNumber}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>About me</td>
                            <td>
                                <span >{{profile.aboutMe}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href = "/#/edit">
                        <button ng-show="myProfile"  class="btn">Edit profile</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-info">Wall posts</h3>
                    <div ng-repeat="post in posts" class="post border-bottom margin-bottom col-md-12" >
                        <p class="post-author text-primary">
                            <span class="head"><a href="/#/profile/{{post.author.id}}">{{post.author.firstName}} {{post.author.lastName}}</a></span>
                            <span class="pull-right" ng-show="!edit">
                                <i class="glyphicon glyphicon-pencil hover-white hover-cursor" ng-show="post.author.id == currentUser.userId" ng-click="edit = true; temp=post.text"></i>
                                <i class="glyphicon glyphicon-remove hover-white hover-cursor" ng-show="post.author.id == currentUser.userId || myProfile" ng-click="deletePost(post, $index)"></i>
                            </span>
                        </p>
                        <p ng-show="!edit">{{post.text}}</p>
                        <textarea class="inp" ng-model="post.text" ng-show="edit"/>
                        <div ng-show="edit">
                            <i class="glyphicon glyphicon-ok hover-white hover-cursor" ng-click="editPost(post, $index);edit = false;"></i>
                            <i class="glyphicon glyphicon-remove hover-white hover-cursor" ng-click="edit = false;post.text=temp;cancelUpdatePost()"></i>
                        </div>
                        <span class="pull-left">{{post.createDate}}</span>
                        <div class="pull-right" ng-show="!edit">
                            <i class="glyphicon glyphicon-thumbs-up hover-cursor hover-white pull-right" ng-click="toggleLike(post)" ng-class="{liked: post.liked==true}"><span ng-show="post.likes.length > 0">{{post.likes.length}}</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>