<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/css/common.css"/>
	<script src="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/js/vendors/jquery.min.js"></script>
	<script src="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/js/vendors/bootstrap.min.js"></script>
	<script src="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/js/vendors/angular.js"></script>
	<script src="C:\Users\Aydar\Documents\GitHub\SocialNetwork\src\main\webapp/resources/js/app.js"></script>

	<title>template</title>
</head>
<body>
	<div class="wrapper">
		<div class="left_bar">
			<div class="logo">
				<span id="logotext">Social</span>
				<hr>
			</div>
			<div class="my-profile-block">
				<div class="profile-image my-profile-image">
					<img src="https://pp.vk.me/c306815/v306815704/80c1/imTMKnFgKc4.jpg">
				</div>
				<ul class="icons my-icons">
					<li class="icons-item">
						<span class="photo-icon"></span> 	
					</li>
					<li class="icons-item">
						<span class="tools-icon"></span> 		
					</li>
					<li class="icons-item">
						<span class="logout-icon"></span> 	
					</li>
				</ul>
				<div class="seperate-vertical my-seperate-vertical"></div>
			</div>
			<div class="menu">
				<ul class="menu-list">
					<li class="menu-list-item active">My feed</li>
					<li class="menu-list-item">My messages</li>
					<li class="menu-list-item">Bookmarks</li>
					<li class="menu-list-item">Search people</li>
				</ul>
			</div>
		</div>
		<div class="right_bar">
			<h1>Your friends</h1>
			<div class="search">
				<input type="text" class="search_inp" placeholder="Friend name"/>
			</div>
			<div class="friends-block-wrapper">
				<div class="friends-block">
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
					<div class="friend">
						<div class="friend-profile-image profile-image">
							<img src="https://pp.vk.me/c624928/v624928966/d10f/H8Iv0AqIMjk.jpg">
						</div>
						<ul class="icons friend-icons">
							<li class="icons-item-block text-left">
								<span class="email-icon">
									<span class="icon-text">messages</span>
								</span> 	
							</li>
							<li class="icons-item-block fix-user-icon text-left">
								<span class="user-icon ">
									<span class="icon-text">profile</span>
								</span>	 		
							</li>
						</ul>
						<span class="friend-name">Batyrova Elvira</span>
						<div class="seperate-vertical friend-seperate-vertical"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			
		</div>
	</div>
	
</body>
</html>